#editor #mapBox .button {
    padding: 0;
    width: 224px;
}

#editor #mainMenu {
    width: 230px;
    right: 0px;
}

#editor #mainMenu .button {
    padding: 0;
}


#editor #terrain {
    position: static;

}