#editor {
    position: relative;
}

#editor #mapBox {
    position: fixed;
}

#editor #mapBox .button {
    padding: 0;
    width: 224px;
}

#editor #mainMenu {
    right: 0px;
    position: fixed;
}

#editor #mainMenu .button {
    padding: 0;
    display: inline-block;
}

#editor #terrain {
    position: static;

}