* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game {
    position: relative;
    left: 0;
    top: 0;
    background: url(/img/bg_0.jpg) #000;
    font-size: 12px;
    display: block;
    overflow: hidden;
    clear: both;
}

#game table, .message table {
    min-width: 0;
    border-spacing: 1px;
    border: none !important;
}

#game tr:hover {

}

#game td {
    height: auto;
}

#map {
    position: absolute;
    display: none
}

#map * {
    cursor: url(/img/game/lupa.png) 13 13, crosshair
}

#lens {
    border: 1px solid #fff;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 21001;
}

#map canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 2px 2px 5px #000;
}

#map .c {
    border: 1px solid #000;
    position: absolute;
}

#map .a {
    border: 1px solid #000;
    position: absolute;
}

#playersBox {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    width: 180px;
    top: -2px;
    right: -2px;
    background: none;
}

#playersBox .iconButton {
    width: 45px;
    height: 45px;
    position: absolute;
    display: inline-flex;
}

#playersLabel {
    float: left;
    font-size: 20px;
}

#turn {
    width: 80px;
    position: absolute;
    top: 75px;
    left: 60px;
    z-index: 28000;
}

#turnNumber {
    font-size: 30px;
    text-shadow: none;
    text-align: center;
    display: block;
}

.message {
    position: absolute;
    top: 70px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    pointer-events: none
}

.message.tutorial {
    z-index: 10000;
}

.message.tutorial #content {
    max-width: 300px;
    background: url(/img/bg_0.jpg);
}

.message.tutorial .goal {
    padding-bottom: 14px;
    text-align: left;
    font-weight: bold;
}

.message.tutorial .description {
    text-align: justify;
}

.message #content {
    min-width: 321px;
    min-height: 70px;
    padding-top: 30px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid green;
    border-radius: 0px !important;
    box-shadow: 0 0 20px #000;
    pointer-events: auto;
    color: #fff;
    background: url("/img/game/message_bg.png");
}

.message #content tr {
    background: none !important;
}

.message #buttons {
    width: auto;
    height: 50px;
    margin: 0 auto 10px auto;
}

.message #buttons .button {
    width: auto;
    margin: 0 36px;
    padding: 12px 12px;
}

.message .msgTitle {
    text-align: center;
    border-bottom: 1px solid green;
    margin: -47px auto 0 auto;
}

.message .msgTitle h3 {
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    color: #000;
    border: none;
    background: #fff;
    text-shadow: none;
}

.message.error .msgTitle h3 {
    background: red;
}

.message h4 {
    color: #ddd;
    margin: 3px 3px 3px 4px;
    float: right;
}

.message h5 {
    text-align: left;
    margin: 2px 2px 2px 4px;
    color: #d6d6d6;
}

.message div.overflow {
    overflow: auto;
    padding: 20px;
    line-height: 22px;
}

.message div.showCastle {
    max-width: 500px;
    text-align: left;
}

.message div.showCastle .button {
    line-height: 0;
    margin: 2px;
    padding: 19px;
}

.message div.showCastle #next {
    width: 90px;
}

.message div.showCastle #previous {
    width: 90px;
}

.message div.showCastle td {
    border: none;
}

.message div.showCastle tr {
    background: none;
}

.message div.production, .message div.relocatedProduction {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2px;
}

.message div.production div.title, .message div.relocatedProduction div.title {
    padding: 10px;
    background: #000;
}

.message .production table {
    padding: 2px;
    margin: 0 auto;
    border-spacing: 5px !important;
}

.message .production td.unit {
    color: #fff;
    margin: 0;
    text-align: center;
    box-shadow: 0 0 5px #000;
    min-width: 225px;
    height: 180px !important;
    overflow: hidden;
    vertical-align: top;
    border: 1px solid gray;
}

.message .production .unit.checked {
    border: 1px solid lime;
}

.message .production td.unit .buttons {
    padding-top: 1px;
}

.message .production td {
    border: none;
    padding: 0;
}

.message .production tr:first-of-type td.unit:first-of-type {
    border-top-left-radius: 5px;
}

.message .production tr:first-of-type td.unit:last-of-type {
    border-top-right-radius: 5px;
}

.message .production tr:last-of-type td.unit:first-of-type {
    border-bottom-left-radius: 5px;
}

.message .production tr:last-of-type td.unit:last-of-type {
    border-bottom-right-radius: 5px;
}

.message .production .unit .name {
    text-shadow: none;
    background: #fff !important;
    color: #000 !important;
}

.message .production .unit.checked .name {
    background: lime !important;
}

.message .production .unit div.attributes {
    text-align: right;
}

.message .production .unit div.attributes div {
    background: #000;
    display: inline-block;
    margin: 1px;
    padding-left: 5px;
}

.message .showCastle .iconButton {
    display: inline-block;
    height: 23px;
    box-shadow: 1px 1px 5px #000;
    padding: 2px;
}

.message .relocatedProduction td {
    border: none;
}

.message p.h input {
    margin: 5px 6px;
}

.message div.row {
    padding: 8px;
    border: 1px solid #222;
    border-radius: 3px;
}

.message div.row div.nr {
    display: inline-block;
}

.message .split {
    overflow: hidden;
    overflow-y: auto;
}

.message .split #selectAll {
    text-align: right;
    height: 20px;
}

.message .split div.row {
    cursor: pointer;
}

.message .split div.row:hover {
    background: lime;
}

.message .split div.row.selected {
    background: #fff;
    color: #000;
    text-shadow: none;
}

.message .status .firstDiv {
    padding: 5px;
    height: auto;
}

.message .status .attr, .message .status .value div {
    display: inline-block;
}

.message .status .firstDiv.name {
    vertical-align: top;
}

.message .status div.row {
    padding: 0;
}

.message .status .value {
    color: gold;
}

.message .status .plus {
    color: lime;
}

.message .status .iconButton div {
    padding: 5px;
}

.message .status .iconButton {
    margin: 5px;
}

.center {
    text-align: center;
}

.split p {
    text-align: center;
    margin: 2px;
    background: #CECECE;
    padding: 1px;
}

#log {
    width: 150px;
    height: 29px;
}

#gold {
    text-shadow: none;
    line-height: normal;
    position: absolute;
    padding: 7px;
}

#gold #value {
    display: inline-block;
}

#gold #description {
    display: inline-block;
}

#battleSettingsBox {
    border-top: none;
}

#battleSettingsBox .iconButton {
    padding: 1px 4px;
    display: inline-block;
}

.text-right {
    text-align: right;
}

#terrain {
    position: absolute;
    color: white;
    z-index: 27000;
    left: 2px;
}

#game .box {
    position: fixed;
    z-index: 27000;
    border: 0px solid green;
    border-radius: 0px !important;
    box-shadow: 0 0 20px #000;
    padding: 2px;
}

html {
    background: #000;
}

.buttonColors {
    border: 1px solid #fff !important;
    background: #000 !important;
    color: #fff !important;
    cursor: pointer;
}

.buttonColors:hover {
    color: #000 !important;
    background: #fff !important;
}

#buttons .button, .armyButtons .button {
    padding: 0;
    width: 176px;
    overflow: hidden;
}

#buttons .button.buttonOff, .armyButtons .button.buttonOff {
    background: #fff !important;
    border: 1px solid gray;
    color: gray !important;
}

.button, #submit {
    line-height: 20px;
    margin: 2px;
}

.iconButton, .button, #submit {
    border-radius: 2px;
    font-size: 14px;
}

.iconButton {
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.iconButton img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}

.iconButton .Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.buttonOff {
    border: 1px solid #444 !important;
    color: #444 !important;
    cursor: default !important;
}

.buttonOff:hover {
    background: #000 !important;
    color: #444 !important;
    cursor: default !important;
}

.battleUnit {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.battleNumber {
    display: inline-block;
    width: 30px;
}

table.statistics tr {
    background: none;
}

table.statistics td {
    border: none;
    padding: 1px;
    height: 36px;
}

table.statistics th {
    background: none;
    border: none;
    padding: 5px;
    color: goldenrod;
}

table.statistics td.shortName {
    background: none;
}

.relocatedProduction table {
    padding: 2px;
    width: 100%;
}

.relocatedProduction td {
    line-height: 30px;
    /*background: #CECEb0;*/
    border: none;
}

table.treasury {
    margin: 0 auto;
    text-shadow: none;
    min-width: 300px !important;
}

table.treasury td {
    border: 1px solid gray;
    background: #000;
    /*color: #D7DAA4;*/
    border-radius: 0;
    padding: 5px;
    height: 23px;
}

table.treasury tr:first-of-type td:first-of-type {
    border-top-left-radius: 5px;
}

table.treasury tr:first-of-type td:last-of-type {
    border-top-right-radius: 5px;
}

table.treasury tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
}

table.treasury tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 5px;
}

table.treasury td.r {
    text-align: right;
}

table.treasury td.c {
    text-align: center;
}

#vs {
    margin-top: 10px;
}

.production tr {
    background: none !important;
}

.showCastle tr td:not(.button .iconButton) {
    border: none !important;
}

.statistics tr:first-of-type {
    background: none;
}

#battle {
    display: none;
}

#battleAttack {
    width: 27px;
    height: 27px;
}

#battleDefence {
    width: 27px;
    height: 27px;
}

#showMenu {
    position: absolute;
    top: 2px;
    right: 2px;
}

#nextTurn {
    line-height: 0px;
    position: absolute;
    top: 2px;
    right: 37px;
    padding: 15px 20px;
    text-shadow: none;
}

#nextTurn:hover {
    color: #000 !important;
    background: red !important;
}

.font-gold {
    color: gold;
}

.font-red {
    color: red;
}

table.treasury td {
    height: 28px !important;
}

#armyButtons {
    border: none;
    border-radius: 0px;
    background: none;
    bottom: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#disbandArmy div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/delete.png) center center no-repeat !important;
}

#disbandArmy.buttonOff div {
    background: url(/img/game/buttons/delete_off.png) center center no-repeat !important;
}

#nextArmy {
    box-shadow: 0 0 5px #000;
}

#nextArmy div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/search.png) center center no-repeat !important;
    padding: 7px;
}

#quitArmy div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/stop.png) center center no-repeat !important;
}

#quitArmy.buttonOff div {
    background: url(/img/game/buttons/stop_off.png) center center no-repeat !important;
}

#skipArmy div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/pause.png) center center no-repeat !important;
}

#skipArmy.buttonOff div {
    background: url(/img/game/buttons/pause_off.png) center center no-repeat !important;
}

#splitArmy div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/split.png) center center no-repeat !important;
}

#splitArmy.buttonOff div {
    background: url(/img/game/buttons/split_off.png) center center no-repeat !important;
}

#deselectArmy div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/deselect.png) center center no-repeat !important;
}

#deselectArmy.buttonOff div {
    background: url(/img/game/buttons/deselect_off.png) center center no-repeat !important;
}

#showCastle div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/castle.png) center center no-repeat !important;
}

#showCastle.buttonOff div {
    background: url(/img/game/buttons/castle_off.png) center center no-repeat !important;
}

#razeCastle div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/raze.png) center center no-repeat !important;
}

#razeCastle.buttonOff div {
    background: url(/img/game/buttons/raze_off.png) center center no-repeat !important;
}

#armyStatus {
    box-shadow: 0 0 5px #000;
}

#armyStatus div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/status.png) center center no-repeat !important;
    padding: 7px;
}

#armyStatus.buttonOff div {
    background: url(/img/game/buttons/status_off.png) center center no-repeat !important;
}

#searchRuins div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/ruins.png) center center no-repeat !important;
}

#searchRuins.buttonOff div {
    background: url(/img/game/buttons/ruins_off.png) center center no-repeat !important;
}

#buildCastleDefense div {
    width: 23px;
    height: 23px;
    background: url(/img/game/buttons/build.png) center center no-repeat !important;
}

#buildCastleDefense.buttonOff div {
    background: url(/img/game/buttons/build_off.png) center center no-repeat !important;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 50px;
    z-index: 99999;
}

#gameMenu .row .iconButton {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

#gameMenu .row {
    margin: 10px;
}

#gameMenu .row div {
    display: inline-block;
}

#gameMenu .row div.description {
    padding-left: 10px;
}

#game h3 {
    color: #fff;
}

#gameMenu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    display: none;
    text-align: right;
}

#gameMenu #close {
    padding: 10px;
    text-shadow: none;
    margin: 10px;
}

#game #tutorial {
    position: absolute;
    cursor: pointer;
    bottom: 2px;
    left: 2px;
}