* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game {
    position: relative;
    left: 0;
    top: 0;
    background: url(/img/bg_0.jpg) #000;
    font-size: 12px;
    display: block;
    overflow: hidden;
    clear: both;
}

#game table {
    min-width: 0;
    border-spacing: 1px;
    font-size: 12px;
    border: none !important;
}

#game tr:hover {

}

#game td {
    height: auto;
}

#map {
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
}

#map * {
    cursor: url(/img/game/lupa.png) 13 13, crosshair
}

#mapBox {
    border-bottom-right-radius: 10px;
    top: -10px;
    left: -10px;
    background: #000;
}

.zoomPup {
    border: 1px solid #fff;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 21001;
}

#mapImage {
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 3px;
}

.castle {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url('/img/game/castles/neutral.png') center center no-repeat;
    border: none;
    cursor: crosshair;
    z-index: 2202;
}

#map .c {
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    background: #9F9F9F;
}

.ruin {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/img/game/ruin.png) center center no-repeat;
    border: none;
    cursor: crosshair;
    z-index: 2200;
}

.tower {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/img/game/towers/neutral.png) center center no-repeat;
    border: none;
    cursor: crosshair;
    z-index: 2200;
}

.army {
    position: absolute;
    width: 41px;
    height: 41px;
    border: none;
    z-index: 10000;
}

.flag {
    width: 37px;
    height: 37px;
    border: none;
    margin: 3px 3px 3px 4px;
}

#map .a {
    width: 1px;
    height: 1px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
}

.army .unit {
    position: relative;
    top: 6px;
    left: 8px;
    width: 31px;
    height: 31px;
    text-align: center;
}

.path {
    position: inherit;
    width: 34px;
    height: 34px;
    margin: 1px;
    padding: 2px;
    border: none;
    border-radius: 20px;
    z-index: 2200;
    color: white;
    text-align: center;
    line-height: 36px;
    text-shadow: none;
    background: #000;
    opacity: 0.66;
}

.path1 {
    opacity: 0.66;
}

.path2 {
    opacity: 0.33;
}

.field {
    position: absolute;
    width: 34px;
    height: 34px;
    margin: 1px;
    padding: 2px;
    border: none;
    z-index: 1700;
    color: #000;
    text-shadow: none;
}

#playersBox {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    width: 188px;
    top: -2px;
    right: -2px;
}

#playersBox .iconButton {
    width: 30px;
    line-height: 32px;
    height: 32px;
    position: absolute;
    display: inline-flex;
}

#playersLabel {
    float: left;
    font-size: 20px;
}

#exit.iconButton {
    top: 4px;
    left: 4px;
}

#surrender.iconButton {
    top: 4px;
    left: 150px;
}

#statistics.iconButton {
    top: 146px;
    left: 4px;
}

#show.iconButton {
    top: 146px;
    left: 150px;
}

/*#show img {*/
/*margin-top: 5px;*/
/*}*/

/*#sound.iconButton {*/
/*top: 78px;*/
/*}*/

#turn {
    width: 80px;
    position: absolute;
    top: 75px;
    left: 60px;
    z-index: 28000;
}

#turnNumber {
    font-size: 30px;
    text-shadow: none;
    text-align: center;
    display: block;
}

.message {
    min-width: 321px;
    min-height: 70px;
    top: 70px;
    padding-top: 30px !important;
    /*border: 2px solid #fff !important;*/
    border-radius: 0;
    text-align: center;
    z-index: 28000 !important;
}

.message #buttons {
    width: auto;
    height: 50px;
    margin: 0 auto;
}

.message #buttons .button {
    width: auto;
    margin: 10px;
    padding: 2px 12px;
}

.message h3.msgTitle {
    text-align: center;
    top: -16px;
    left: 20px;
    margin: 0 auto;
    padding: 8px;
    position: absolute;
    color: #fff;
    border: none;
    background: url(/img/deska_0.png) 132px 33px;
    box-shadow: 3px 3px 5px #000;
}

.message h4 {
    color: #ddd;
    margin: 3px 3px 3px 4px;
    float: right;
}

.message h5 {
    text-align: left;
    margin: 2px 2px 2px 4px;
    color: #d6d6d6;
}

.message div.overflow {
    overflow: auto;
    padding: 0 17px;
}

.message div.simple {
    padding-top: 20px;
}

.message div.showCastle {
    max-width: 500px;
    text-align: left;
}

.message div.showCastle .button {
    line-height: 28px;
    margin: 2px
}

.message div.showCastle #next {
    width: 90px;
}

.message div.showCastle #previous {
    width: 90px;
}

.message div.showCastle td {
    border: none;
}

.message div.showCastle tr td:first-of-type {
    text-align: right;
}

.message div.showCastle tr {
    background: none;
    color: #D7DAA4;
}

.message div.production, .message div.relocatedProduction {
    /*text-shadow: none;*/
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0;
    font-size: 20px;
    color: goldenrod;
    margin: 10px 0;
}

.message div.production div.title, .message div.relocatedProduction div.title {
    padding: 10px;
}

.message .production table {
    padding: 2px;
    margin: 0 auto;
}

.message .production td.unit {
    background: #fff;
    color: #000;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-shadow: none;
    cursor: url(/img/game/cursor_pointer.png), pointer;
}

.message .production td {
    border: none;
    padding: 0;
}

.message .production tr:first-of-type td.unit:first-of-type {
    border-top-left-radius: 5px;
}

.message .production tr:first-of-type td.unit:last-of-type {
    border-top-right-radius: 5px;
}

.message .production tr:last-of-type td.unit:first-of-type {
    border-bottom-left-radius: 5px;
}

.message .production tr:last-of-type td.unit:last-of-type {
    border-bottom-right-radius: 5px;
}

.message .production .unit:hover {
    background: lime;
}

.message .production input[type="radio"] {
    display: none;
}

.message .production .unit .img {
    padding: 5px 0 5px 5px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.message .production .unit .name {
    float: right;
}

.message .production .unit div.attributes {
    padding: 1px;
}

.message .production .unit div p {
    text-align: right;
}

.message .showCastle .iconButton {
    display: inline-block;
    height: 23px;
    box-shadow: 1px 1px 5px #000;
    padding: 2px;
}

.message .relocatedProduction td {
    border: none;
}

.message p.h input {
    margin: 5px 6px;
}

.message div.row {
    padding: 3px;
    border: 1px solid #222;
    border-radius: 3px;
}

.message div.row div.nr {
    position: relative;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 15px;
    float: left;
    display: inline-block;
}

.message .split {
    overflow: hidden;
    overflow-y: auto;
}

.message .split #selectAll {
    text-align: right;
    height: 20px;
}

.message .split div.row {
    clear: both;
    height: 31px;
}

.message .split div.row:hover {
    background: lime;
}

.message .split div.row.selected {
    background: #fff;
    color: #000;
    text-shadow: none;
}

.message .split div.row div {
    width: 30px;
    height: 30px;
    position: relative;
    top: 9px;
}

.message .split div.row span {
    line-height: 30px;
}

.message .split div.row img {
    margin: 1px 12px;
}

.message .split div.row div.img {
    width: 50px;
    height: 30px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}

.message .status div.row {
    width: 560px;
    background: transparent url('/img/game/message_bg.png');
    background: url(/img/bg_0.jpg)
}

.message .status div.rowContent {
    position: relative;
}

.message .status table {
    width: auto;
    display: inline-table;
}

.message .status table.leftTable {
    margin-left: 30px;
}

.message .status table.rightTable {
    margin-left: 5px;
}

.message .status tr {
    background: none !important;
    color: #fff;
}

.message .status td {
    border: none;
    text-align: right;
    height: 14px;
    padding: 0;
    margin: 0;
    /*background: #000;*/
}

.message .status .value {
    color: gold;
}

.message .status .value div {
    float: left;
}

.message .status .plus {
    color: lime;
}

.message .status div.row div.img {
    position: absolute;
    top: 30px;
    left: 5px;
}

.message .battle {
    width: 100%;
    text-align: center;
    margin-top: 4px;
    min-height: 31px;
}

.message .grass {
    background: url(/img/game/grass.png);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px #0f0;
}

.center {
    text-align: center;
}

.split p {
    text-align: center;
    margin: 2px;
    background: #CECECE;
    padding: 1px;
}

#log {
    width: 150px;
    height: 29px;
}

#turnBox {
    position: absolute;
    top: 185px;
    /*margin: 2px;*/
    /*height: 12px;*/
    width: 220px;
}

#turnBox div {
    /*    width:90px;*/
}

#limitBox {
    left: -10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 229px;
}

#limitBox .row {
    height: 30px;
}

#limitBox .left {
    padding: 1px;
    background: none;
    text-align: center;
    line-height: 30px;
}

#limitBox #timerScroll {
    overflow: hidden;
    overflow-y: scroll;
    width: 230px;
    margin-bottom: 5px;
}

#limitBox #timerRows {
    width: 230px;
}

#timerScroll .color {
    width: 37px;
}

#timerScroll .nr {
    width: 50px;
}

#timerScroll .time {
    width: 122px;
    overflow: hidden;
}

#timerScroll .time {
    overflow: hidden;
}

#timerScroll .time div {
    float: right;
}

#timerScroll #second {
    width: 20px;
    text-align: left;
    padding: 0 3px;
}

#timerScroll #minute {
    width: 20px;
    text-align: left;
    padding: 0 3px;
}

#timerScroll #hour {
    min-width: 30px;
    text-align: left;
    padding: 0 3px;
}

/*888888888888888888*/

#limitBox span {
    width: 16px;
    display: inline-block;
    text-align: right;
}

#limitBox span#hour {
    width: 50px;
}

#goldBox {
    min-width: 200px;
    border: none;
    border-radius: 0px;
    text-shadow: none;
    background: url(/img/deska_0.png) 132px 33px;
}

#goldBox table {
    width: auto;
    min-width: 0;
    border-spacing: 0;
    display: inline-flex;
}

#goldBox table tr:nth-child(odd) {
    background: none;
}

#goldBox td {
    height: 25px;
    padding: 2px;
    width: 116px;
    text-align: center;
    /*border: none !important;*/
}

#goldBox td div {
    line-height: 14px;
}

#battleSettingsBox {
    border-top: none;
}

#battleSettingsBox .iconButton {
    padding: 1px 4px;
    display: inline-block;
}

#armyBox {
    border: none;
    border-radius: 0px;
    background: url(/img/deska_0.png) 132px 33px;
    min-width: 230px;
    height: 35px;
}

#armyBox #unitsBox {
    float: left;
    min-width: 100px;
    height: 30px;
}

#armyBox #unitsBox div {
    min-width: 35px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 10px 0;
}

#armyBox #armyButtons {
    float: right;
    width: 124px;
    height: 30px;
}

#armyBox .iconButton {
    width: 25px;
    line-height: 25px;
    height: 25px;
    display: inline-block;
    text-shadow: none;
}

#commandsBox {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 188px;
    right: -2px;
}

#commandsBox #nameBox {
    height: 14px;
    line-height: 14px;
    margin: 5px;
    text-align: center;
    /*background: url("/img/bg_0.jpg");*/
}

#commandsBox #attrBox {
    height: 26px;
    margin: 5px;
}

#commandsBox #attrBox div {
    width: 73px;
    /*background: url("/img/bg_0.jpg");*/
}

.text-right {
    text-align: right;
}

#terrain {
    position: absolute;
    color: white;
    z-index: 27000;
    left: 13px;
}

.box {
    position: absolute;
    z-index: 27000;
    /*background: transparent url('/img/game/message_bg.png');*/
    background: url(/img/deska_1.png);
    border: 0px solid green;
    border-radius: 0px !important;
    box-shadow: 0 0 20px #000;
    padding: 2px;
    color: #D7DAA4;
}

#playersCanvas {
    width: 180px;
    height: 180px;
}

#chest {
    background: #fff;
    text-shadow: none;
}

#chest div {
    border: 1px solid #ccc;
}

#inventory {
    background: #fff;
    text-shadow: none;
}

#inventory div {
    border: 1px solid #ccc;
}

.artifactDescription {
    position: absolute;
    background: #555;
    text-shadow: none;
    color: #fff;
    min-width: 200px;
    min-height: 200px;
    z-index: 28000;
}

html {
    background: #000;
}

.buttonColors {
    border: 1px solid #A8A45A !important;
    background: #000 !important;
    color: #A8A45A !important;
    cursor: url(/img/game/cursor_pointer.png), pointer;
}

.buttonColors:hover {
    color: #000 !important;
    background: #A8A45A !important;
}

#buttons .button, .armyButtons .button {
    padding: 0;
    width: 176px;
    overflow: hidden;
}

#buttons .button.buttonOff, .armyButtons .button.buttonOff {
    background: #000 !important;
    border: 1px solid gray;
    color: gray !important;
}

.button, #submit {
    line-height: 20px;
    margin: 2px;
}

.iconButton, .button, #submit {
    border-radius: 2px;
    font-size: 14px;
}

.iconButton {
    cursor: url(/img/game/cursor_pointer.png), pointer;
    text-align: center;
    display: inline-block;
}

.iconButton img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}

.iconButton .Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.buttonOff {
    border: 1px solid #444 !important;
    color: #444 !important;
}

.castle .relocation_out {
    position: absolute;
    top: 13px;
    left: 77px;
}

.castle .relocation_in {
    position: absolute;
    top: 13px;
    left: 84px;
}

.battleUnit {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.battleNumber {
    display: inline-block;
    width: 30px;
}

.killed {
    position: absolute;
    background: url("/img/game/killed.png");
    width: 25px;
    height: 28px;
    display: none;
}

.war {
    position: absolute;
    background: url("/img/game/war.png");
    width: 111px;
    height: 120px;
    z-index: 26998;
}

.ruinSearch {
    position: absolute;
    background: url("/img/game/ruinSearch.png");
    width: 38px;
    height: 40px;
    z-index: 26998;
}

table.statistics tr {
    background: none;
    color: #D7DAA4;
}

table.statistics td {
    border: none;
    padding: 1px;
    height: 36px;
}

table.statistics th {
    background: none;
    border: none;
    padding: 5px;
    color: goldenrod;
}

table.statistics td.shortName {
    background: none;
}

.relocatedProduction table {
    padding: 2px;
    width: 100%;
}

.relocatedProduction td {
    line-height: 30px;
    /*background: #CECEb0;*/
    border: none;
}

table.treasury {
    margin: 0 auto;
    text-shadow: none;
}

table.treasury td {
    border: 1px solid gray;
    background: #000;
    color: #D7DAA4;
    border-radius: 0;
    padding: 5px;
    height: 23px;
}

table.treasury tr:first-of-type td:first-of-type {
    border-top-left-radius: 5px;
}

table.treasury tr:first-of-type td:last-of-type {
    border-top-right-radius: 5px;
}

table.treasury tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
}

table.treasury tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 5px;
}

table.treasury td.r {
    text-align: right;
}

table.treasury td.c {
    text-align: center;
}

#vs {
    margin-top: 10px;
}

.production tr {
    background: none !important;
}

.showCastle tr td:not(.button .iconButton) {
    border: none !important;
}

.statistics tr:first-of-type {
    background: none;
}

.close {
    width: 19px;
    height: 19px;
    line-height: 18px;
    text-shadow: none;
    color: #fff;
    border: 2px solid orangered;
    cursor: pointer;
}

.close:hover {
    color: gold;
}

#mapBox .close {
    top: 12px;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#limitBox .close {
    top: 8px;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#playersBox .close {
    left: -23px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    top: 12px;
}

#commandsBox .close {
    left: -23px;
    top: 8px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#battleAttack {
    width: 27px;
    height: 27px;
}

#battleDefence {
    width: 27px;
    height: 27px;
}

#nextTurn {
    line-height: 20px;
    position: absolute;
    top: 101px;
    left: 59px;
    display: inline-flex;
    padding: 2px 20px;
    box-shadow: none;
    color: #000 !important;
    background: #fff !important;
}

#nextTurn:hover {
    color: #fff !important;
    background: #A8A45A !important;
}

.font-gold {
    color: gold;
}