.frame {
    border-radius: 5px;
    border: 2px solid grey;
    width: 60px;
    background: url(/img/bg_1.jpg);
    box-shadow: 2px 2px 5px #000;
}

.third {
    position: absolute;
    top: 80px;
    left: 360px
}

#helpMenu div {
    display: inline-block;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #000;
    box-shadow: 1px 1px 5px #000;
    margin: 4px;
    text-shadow: none;
    cursor: pointer;
}

#helpMenu div:hover {
    background: green;
    color: #fff;
}

#helpMenu div.active {
    background: #fff;
    color: #000;
    cursor: default;
}

#text h5 {
    padding: 10px;
    text-align: center;
    font-size: 150%;
}

#text {
    min-height: 300px;
}

#graphics {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 5px;
}

#text #unit table {
    width: 583px;
    margin: 10px 0;
}

#text #unit h3 {
    margin: 10px 0;
}