.frame {
    border-radius: 5px;
    border: 2px solid grey;
    width: 60px;
    background: url(/img/bg_1.jpg);
    box-shadow: 2px 2px 5px #000;
}

.third {
    position: absolute;
    top: 80px;
    left: 360px
}

#helpMenu div {
    display: inline-block;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #000;
    box-shadow: 1px 1px 5px #000;
    margin: 4px;
    text-shadow: none;
    cursor: pointer;
}

#helpMenu div:hover {
    background: #fff;
    color: #000;
}

#helpMenu div#active {
    color: grey;
}