* {
    padding: 0;
    margin: 0;
}

html {
    background: #000;
}

body {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    overflow-y: hidden;
}

.touchscreen input, .touchscreen select, body.touchscreen {
    font-size: 2.8vw;
}

.touchscreen input[type="checkbox"] {
    width: 2vw;
    height: 2vw;
}

input[type="checkbox"] {
    width: 3vw;
    height: 3vw;
}

input, select, body {
    font-size: 1.7vw;
    /*font-family: Impact, Charcoal, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2vw;
}

#bg {
    width: 100vw;
    height: 100vh;
    background: #000 url('/img/login_bg.jpg') no-repeat top center;
    background-size: cover;
    overflow: auto;
}

.touchscreen #page {
    width: 95vw;
}

#page {
    margin: 0 auto;
    width: 76vw;
    height: 97vh;
}

#content {
    clear: both;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: gray;
}

.button, #submit {
    margin: 0.4vw;
    display: inline-block;
}

input, select {
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    box-shadow: 0 0 0.7vw #000;
    background: #373737;
}

.touchscreen .iconButton div, .touchscreen .button, .touchscreen #submit, .touchscreen .bigLink a, .touchscreen input, .touchscreen select {
    padding: 2.8vw;
}

.touchscreen .trlink input {
    width: 11vw;
}

.iconButton > div, .button, #submit, .bigLink a, input, select {
    padding: 0.7vw;
}

.button:hover, #submit:hover, .iconButton:hover {
    background: darkgreen;
    color: #fff;
}

.message .button:hover, #submit:hover, .iconButton:hover {
    background: white;
    color: darkviolet;
}

.button.active {
    background: #fff;
    color: #000;
    cursor: default;
    text-shadow: none;
}

.button.active:hover {
    color: #000;
}

.buttonOff {
    border: 1px solid darkgray !important;
    background: #444 !important;
    color: darkgray !important;
    cursor: default !important;
}

.buttonOff:hover {
    border: 1px solid darkgray !important;
    background: #444 !important;
    color: darkgray !important;
    cursor: default !important;
}

.buttonColors, #submit {
    background: #000;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 1.4vw #444;
}

.buttonColors, #submit, input, select {
    border: 1px solid darkmagenta;
    border-radius: 0;
    color: #fff;
    text-align: center;
}

.iconButton div:not(.varchar) {
    width: 3vw;
    height: 2vw;
}

.touchscreen .iconButton {
    margin: 0.7vw;
}

.iconButton {
    margin: 1px;
    display: inline-flex;
    border-radius: 0.5vw;
}

#menu .iconButton {
    border-radius: 0;
    margin: 0.15vw;
}

h2 {
    margin-top: 0.7vw;
    margin-bottom: 1.4vw;
    margin-left: 0.7vw;
    letter-spacing: 0.3vw;
    text-align: left;
    color: skyblue;
    background: #fff;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.font-black {
    text-shadow: 0px 0px 0.2vw #fff;
}

div.table {
    padding: 0.7vw;
    border-radius: 3px;
    box-shadow: 0 0 7vw #000;
}

div.table table {
    border-spacing: 0px;
    width: 100%;
}

#content th {
    text-align: center;
    padding: 0.7vw 0;
    color: #000;
    background: #fff;
    text-shadow: none;
    border-top: 1px solid #000;
}

#content .contact td {
    border: none;
}

#content td {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

#content td:first-of-type {
    border-left: 1px solid #000;
}

#content tr:last-of-type td {
    border-bottom: 1px solid #000;
}

#content td {
    text-align: center;
    padding: 1vw 0;
    background: url("/img/game/message_bg.png");
}

#main #versionNumber {
    position: fixed;
    bottom: 0;
    right: 0;
}

#versionNumber {
    font-style: italic;
    float: right;
}

#logout {
    display: inline-block;
    float: right;
    font-weight: normal;
    padding: 2.1vw;
    background: #000;
    border-left: 1px solid #000;
}

#logout:hover {
    text-decoration: none;
    color: #fff;
    background: red;
}

.errors {
    padding: 0.7vw;
    color: orchid;
    text-shadow: 1px 1px 0 #000;
}

#content form {
    background: url("/img/game/message_bg.png");
    padding: 0.7vw;
    text-align: center;
}

#content form label {
    color: red;
    margin: 0.7vw;
    display: flex;
    font-weight: bold;
}

#content form#search {
    background: none;
    border: none;
}

dt {
    margin-top: 1vw;
}

p#info {
    text-align: center;
}

#search .zend_form {
    text-align: left;
}

#search #search-label, #search #submit-label {
    display: none;
}

#search #search-element, #search #submit-element {
    display: inline-block;
}

#searchResults a, #friendsList a {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

#searchResults a:hover, #friendsList a:hover {
    color: gray;
    text-decoration: none;
}

#menuTop #title {
    display: inline-block;
    color: #000;
    font-weight: bold;
    padding: 2.1vw;
    text-shadow: none;
}

#messages div {
    background: url(/img/game/buttons/messages.png) center center no-repeat !important;
}

tr.trlink {
    cursor: pointer;

}

tr.trlink td {
    text-decoration: underline;
}

tr.trlink:hover td {
    color: #fff;
    text-decoration: none;
    background: green !important;
}

#threads .trlink.read {
    background: lightslategrey;
}

#friendsList .online {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
    background: green;
    margin: 0.7vw;
}

.i {
    font-style: italic;
}

.colorBox {
    width: 2.1vw;
    line-height: 2.1vw;
    box-shadow: 0 0 5px #fff;
    display: inline-block;
    margin: 0.7vw;
}

#main {
    width: 100%;
    height: 100%;
}

#helpMenu {
    padding: 1.4vw 0;
    text-align: center;
}

.frame {
    border-radius: 5px;
    border: 2px solid grey;
    width: 60px;
    background: url(/img/bg_1.jpg);
    box-shadow: 2px 2px 5px #000;
}

.third {
    position: absolute;
    top: 80px;
    left: 360px
}

#helpMenu div.active {
    background: #fff;
    color: #000;
    cursor: default;
    text-shadow: none;
}

.table #text .title {
    padding: 0.7vw;
    color: gold;
    font-weight: bold;
    background: url("/img/game/message_bg.png");
}

.table #text p {
    color: #000;
    text-shadow: none;
    background: #fff;
    padding: 0.7vw;
}

.table #graphics {
    float: left;
    margin-right: 0.7vw;
}

#text h3 {
    text-align: center;
}

#text table {
    padding: 0.5vw;
    border-spacing: 0.1vw;
    border-collapse: separate;
}

#text .unitName {
    padding: 2.1vw;
    display: inline-block;
    color: #000;
    text-shadow: 0 0 1px darkmagenta;
    width: 19vw;
    background: #fff;
}

div.table table.unitTable {
    width: auto;
    margin: 0 auto;
}

div.table table.unitTable td:first {
    background: #fff;
}

.selected td {
    background: lightslategrey !important;
    color: #000;
    text-shadow: none;
}

.selected:hover td {
    color: #000;
}

.chat {
    text-align: right;
    padding-top: 5px;
}

#content table.contact td:first-of-type {
    text-align: right;
}

#content table.contact td:last-of-type {
    text-align: left;
}

#menuBox #menuTop {
    margin-top: 2.1vw;
    padding: 1px;
    background: #fff;
    box-shadow: 0 0 1.4vw #fff;
}

#menuBox #menuSubTop {
    margin: 1px;
    border: 1px solid #000;
}

#menuBox #menu {
    text-align: center;
    margin: 1.4vw 0;
}

#menuBox #menu .button {
    margin: 1px;
}

#menuBox #menu .active {
    background-color: green
}

#menuBox #menu .active:hover {
    color: #FFFFFF;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game, .editor {
    display: none;
}

#game {
    position: relative;
    left: 0;
    top: 0;
    background: #000;
    overflow: hidden;
    clear: both;
}

#game table, .message table {
    min-width: 0;
    border-spacing: 1px;
    border: none !important;
}

#game td {
    height: auto;
}

.message {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 9999;
    pointer-events: none
}

.message.tutorial {
    z-index: 10000;
}

.message.tutorial .content {
    max-width: 50vw;
    background: url(/img/bg_0.jpg);
}

.message.tutorial .overflow {
    padding: 2.1vw;
}

.message.tutorial .goal {
    padding-bottom: 1.4vw;
    text-align: left;
    font-weight: bold;
}

.message.tutorial .description {
    text-align: justify;
}

.message .content {
    border: 1px solid #000;
    border-radius: 0px !important;
    box-shadow: 0 0 2.1vw #000;
    pointer-events: auto;
    color: #fff;
    background: url("/img/game/message_bg.png");
    position: absolute;
    overflow: auto;
}

.message .content tr {
    background: none !important;
}

.message #buttons {
    width: auto;
    margin: 0.7vw auto;
}

.message #buttons .button {
    width: auto;
    margin: 0 3.5vw;
}

.message .msgTitle {
    text-align: center;
    /*border-bottom: 1px solid green;*/
}

.message .msgTitle h3 {
    text-align: center;
    margin: 0 auto;
    padding: 0.7vw;
    color: #fff;
    border: none;
    background: #000;
    text-shadow: none;
}

.message.error .msgTitle h3 {
    background: red;
}

.message h4 {
    color: #ddd;
    margin: 3px 3px 3px 4px;
    float: right;
}

.message h5 {
    text-align: left;
    margin: 2px 2px 2px 4px;
    color: #d6d6d6;
}

.message div.showCastle #next {
    width: 9vw;
}

.message div.showCastle #previous {
    width: 9vw;
}

.message div.showCastle td {
    border: none;
}

.message div.production div.title, .message div.relocatedProduction div.title {
    padding: 0.7vw;
    background: #000;
}

.message .production .unit {
    border: 1px solid gray;
    display: table-cell;
}

.message .production td.unit.checked {
    border: 1px solid lime;
}

.message .production .unit div.buttons {
    display: inline-block;
}

.message .production .unit div.buttons .button {
    display: block;
}

.message .production .unit .name {
    text-shadow: none;
    background: #ff0 !important;
    color: #000 !important;
}

.message .production .unit.checked .name {
    background: lime !important;
}

.message .production .unit div.attributes {
    text-align: right;
    display: inline-block;
}

.message .production .unit div.attributes div {
    background: #000;
    margin: 1px;
    padding-left: 5px;
}

.message p.h input {
    margin: 5px 6px;
}

.message div.row {
    padding: 0.7vw;
    border: 1px solid #222;
    border-radius: 0.3vw;
}

.message div.row div.nr {
    display: inline-block;
}

.message .split #selectAll {
    text-align: right;
    height: 2.1vw;
}

.message .split #selectAll input {
    margin: 0.7vw;
}

.message .split div.row {
    cursor: pointer;
}

.message .split div.row:hover {
    background: lime;
}

.message .split div.row.selected {
    background: #fff;
    color: #000;
    text-shadow: none;
}

.message .mygold h3 {
    text-align: left;
    line-height: 2vw;
    margin: 0 0.5vw;
}

.message table.treasury {
    border: 1px solid #fff !important;
    min-width: 30vw;
    margin: 0 0.5vw;
}

.message table.treasury td {
    background: gold;
    color: #C00000;
    padding: 0.5vw;
    text-shadow: none;
}

.message .status table {
    width: 100%;
}

.message .status td {
    padding: 5px;
    height: auto;
    text-align: right;
}

.message .status td.name {
    background: #fff;
    color: #000;
    text-align: center;
    text-shadow: none;
}

.message .status .attr, .message .status .value div {
    display: inline-block;
}

.message .status div.row {
    padding: 0;
}

.message .status .value {
    color: gold;
}

.message .status .plus {
    color: lime;
}

.center {
    text-align: center;
}

.split p {
    text-align: center;
    margin: 2px;
    background: #CECECE;
    padding: 1px;
}

#goldAndStats {
    z-index: 901;
    position: absolute;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

#wait {
    position: absolute;
    z-index: 899;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0.5;
    background: #000;
    cursor: url(/img/game/cursors/wait.png) 11 11, auto;
}

#terrain {
    position: absolute;
    color: white;
    z-index: 900;
    left: 0.7vw;
}

#terrain.editor {
    left: 10.5vw
}

.relocatedProduction table {
    width: 100%;
}

.relocatedProduction td {
    border: none;
}

#vs {
    margin-top: 10px;
}

.production tr {
    background: none !important;
}

.showCastle tr td:not(.button .iconButton) {
    border: none !important;
}

.statistics tr:first-of-type {
    background: none;
}

.statistics th.second {
    letter-spacing: 0;
}

.statistics td {
    border: 1px solid;
    border-left: 1vw solid;
}

.font-gold {
    color: gold;
}

.font-red {
    color: red;
}

/* ----------------- */
#armyButtons, #menuButtons, #heroButtons {
    z-index: 902;
    border: none;
    border-radius: 0px;
    background: none;
    position: absolute;
}

#armyButtons {
    right: 0.5vw;
    bottom: 0.5vw;
}

#menuButtons {
    right: 0.5vw;
    top: 0.5vw;
}

#nextTurn {
    box-shadow: 0 0 0.7vw #000;
}

#nextTurn div {
    background: url(/img/game/buttons/nextTurn.png) center center no-repeat !important;
}

#nextTurn:hover {
    background: red !important;
}

#nextTurn.buttonOff div {
    background: url(/img/game/buttons/nextTurn_off.png) center center no-repeat !important;
}

#nextTurn.buttonOff:hover div {
    background: url(/img/game/buttons/nextTurn_off.png) center center no-repeat !important;
}

#showMenu {
    box-shadow: 0 0 0.7vw #000;
}

#showMenu div {
    background: url(/img/game/buttons/showMenu.png) center center no-repeat !important;
}

#nextArmy {
    box-shadow: 0 0 0.7vw #000;
}

#nextArmy div {
    background: url(/img/game/buttons/search.png) center center no-repeat !important;
}

#nextArmy.buttonOff div {
    background: url(/img/game/buttons/search_off.png) center center no-repeat !important;
}

#armyStatus {
    box-shadow: 0 0 0.7vw #000;
}

#armyStatus div {
    background: url(/img/game/buttons/status.png) center center no-repeat !important;
}

#armyStatus.buttonOff div {
    background: url(/img/game/buttons/status_off.png) center center no-repeat !important;
}

/* ----------------- */

#disbandArmy div {
    background: url(/img/game/buttons/delete.png) center center no-repeat !important;
}

#disbandArmy.buttonOff div {
    background: url(/img/game/buttons/delete_off.png) center center no-repeat !important;
}

#quitArmy div {
    background: url(/img/game/buttons/stop.png) center center no-repeat !important;
}

#quitArmy.buttonOff div {
    background: url(/img/game/buttons/stop_off.png) center center no-repeat !important;
}

#skipArmy div {
    background: url(/img/game/buttons/pause.png) center center no-repeat !important;
}

#skipArmy.buttonOff div {
    background: url(/img/game/buttons/pause_off.png) center center no-repeat !important;
}

#splitArmy div {
    background: url(/img/game/buttons/split.png) center center no-repeat !important;
}

#splitArmy.buttonOff div {
    background: url(/img/game/buttons/split_off.png) center center no-repeat !important;
}

#deselectArmy div {
    background: url(/img/game/buttons/deselect.png) center center no-repeat !important;
}

#deselectArmy.buttonOff div {
    background: url(/img/game/buttons/deselect_off.png) center center no-repeat !important;
}

#showCastle div {
    background: url(/img/game/buttons/castle.png) center center no-repeat !important;
}

#showCastle.buttonOff div {
    background: url(/img/game/buttons/castle_off.png) center center no-repeat !important;
}

#razeCastle div {
    background: url(/img/game/buttons/raze.png) center center no-repeat !important;
}

#razeCastle.buttonOff div {
    background: url(/img/game/buttons/raze_off.png) center center no-repeat !important;
}

#searchRuins div {
    background: url(/img/game/buttons/ruins.png) center center no-repeat !important;
}

#searchRuins.buttonOff div {
    background: url(/img/game/buttons/ruins_off.png) center center no-repeat !important;
}

#buildCastleDefense div {
    background: url(/img/game/buttons/build.png) center center no-repeat !important;
}

#buildCastleDefense.buttonOff div {
    background: url(/img/game/buttons/build_off.png) center center no-repeat !important;
}

/* -------------------------------------------------------------*/
#exit div {
    background: url(/img/game/buttons/exit.png) center center no-repeat !important;
}

#surrender div {
    background: url(/img/game/buttons/surrender.png) center center no-repeat !important;
}

#statistics div {
    background: url(/img/game/buttons/statistics.png) center center no-repeat !important;
}

#show div {
    background: url(/img/game/buttons/show.png) center center no-repeat !important;
}

#show.off div {
    background: url(/img/game/buttons/show_off.png) center center no-repeat !important;
}

#sound div {
    background: url(/img/game/buttons/sound_on.png) center center no-repeat !important;
}

#sound.off div {
    background: url(/img/game/buttons/sound_off.png) center center no-repeat !important;
}

#fullScreen div {
    background: url(/img/game/buttons/fullscreen.png) center center no-repeat !important;
}

#fullScreen div.full {
    background: url(/img/game/buttons/fullscreen_off.png) center center no-repeat !important;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 6vw;
    padding: 2.1vw;
    display: none;
    cursor: url(/img/game/cursors/wait.png) 11 11, auto;
    background: #000 url('/img/login_bg.jpg') no-repeat top center;
    background-size: cover;
}

#loading1 {
    color: darkmagenta;
}

#loading2 {
    color: darkmagenta;
}

#loading3 {
    color: red;
}

#gameMenu .row {
    margin: 1.4vw;
    display: inline-block;
}

#gameMenu .row div.description {
    padding-left: 1.4vw;
    display: inline-block;
}

#game h3 {
    color: #fff;
}

#gameMenu {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    display: none;
    text-align: right;
    text-shadow: none;
    z-index: 1000;
}

#gameMenu #close {
    text-shadow: none;
    margin: 1.4vw;
}

#game #tutorial {
    position: absolute;
    cursor: pointer;
    bottom: 0.7vw;
    left: 0.7vw;
    color: black;
    box-shadow: 0 0 0.7vw #fff;
    background: #fff;
    text-shadow: none;
    padding: 0.5vw;

}

#game #tutorial:hover {
    color: white;
    box-shadow: 0 0 0.7vw #f00;
    background: #f00;
}

#game #tutorial.blink {
    color: white;
    box-shadow: 0 0 0.7vw #f00;
    background: #f00;
}

#game #tutorial.blink:hover {
    color: white;
    box-shadow: 0 0 0.7vw #f00;
    background: #f00;
}

.showCastle .relocatingTo {
    color: lime;
}

#back, #create {
    margin: 1.4vw;
}

#create {
    float: left;
}

#new canvas {
    box-shadow: 0 0 0.7vw #fff;
    margin: 0.7vw;
    border: 1px solid #fff000;
}

#new form {
    border: none;
    background: none;
}

.touchscreen .bigLink {
    font-size: 3vw;
    margin: 0.9vw 3vw 3vw 3vw;
    cursor: pointer;
}

.bigLink {
    text-align: center;
    font-size: 2vw;
    margin: 0.7vw 2vw 1vw 2vw;
    cursor: pointer;
}

.bigLink a {
    background: green;
    text-decoration: none;
    display: block;
    border: 1px solid white;
    border-radius: 0.7vw;
    box-shadow: 0 0 5px #000;
}

.bigLink a:hover {
    color: white;
    background: red;
}

#leftMenu {
    position: absolute;
    width: 10vw;
}

#leftMenu .button {
    margin: 1vw;
    display: block;
}

#rightMenu {
    right: 0px;
    position: absolute;
}

#rightMenu .button {
    padding: 0;
}

.playersName {
    display: inline;
}

.playersColors {
    display: inline-block;
}

#content td.after {
    padding: 1.4vw;
}

#content td.stage {
    background: darkcyan;
}

.playersingame {
    padding-bottom: 1.4vw;
}

#content .playersingame td {
    height: 6.2vw;
}

.playersingame .td1 {
    width: 3.2vw;
}

.playersingame .td2 {
    width: 14vw;
}

td .trash {
    background: url('/img/trash.png') center center no-repeat !important;
}

td .mirror0 {
    background: url('/img/editor/mirror0.png') center center no-repeat !important;
}

td .mirror1 {
    background: url('/img/editor/mirror1.png') center center no-repeat !important;
}

td .mirror2 {
    background: url('/img/editor/mirror2.png') center center no-repeat !important;
}

td .mirror3 {
    background: url('/img/editor/mirror3.png') center center no-repeat !important;
}

input.max {
    width: 2vw;
}

#save {
    display: none;
}

#content .login {
    background: url(/img/game/message_bg.png);
}

#content .login form {
    display: inline-flex;
    background: none;
}

#content .login form .hint {
    position: absolute;
}

.touchscreen.vertical #logo1 {
    right: 0vw;
    top: 54vw;
    width: 54vw;
}

.touchscreen #logo1 {
    right: 0vw;
    top: 38vw;
    width: 54vw;
}

#logo1 {
    position: absolute;
    right: 20vw;
    top: 20vw;
    width: 34vw;
}

#loginMenu {
    margin-bottom: 0.7vw;
}

.touchscreen #logo2 {
    width: 80vw;
}

#logo2 {
    width: 900px;
    margin: 0 auto;
    display: block;
}

.askFullScreen {
    text-align: center;
}

.askFullScreen .question {
    padding: 1.4vw;
    color: #000;
    text-shadow: 0px 0px 1px darkmagenta;
}

#gameMenu .settings {
    text-align: center;
}

#turnInfo {
    position: absolute;
    top: 13vh;
    z-index: 999;
    background: gold;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 97.6vw;
    text-align: center;
    padding: 1.2vw;
    font-size: 2.1vw;
    color: green;
    text-shadow: none;
    display: none;
    box-shadow: 0 0 5px #000;
}

#lost {
    text-align: center;
    color: red;
    font-size: 14vw;
}

#score {
    text-align: center;
    color: red;
    font-size: 5vw;
}

.editorCastleWindow div {
    padding: 0.7vw;
}

#info {
    text-align: center;
    color: darkmagenta;
    text-shadow: none;
    background: #fff;
}

#castleButtons {
    display: none;
}

#heroButtons {
    left: 0.5vw;
    bottom: 0.5vw;
}

#castleButtons #close {
    position: absolute;
    right: 0.5vw;
    top: 0.5vw;
}

#heroResurrection, #heroHire {
    display: inline-block;
    padding: 1vw;
}

#castleButtons #close div {
    background: url(/img/game/buttons/close.png) center center no-repeat !important;
}

#nextCastle, #previousCastle {
    z-index: 902;
    position: absolute;
}

#nextCastle {
    right: 0.5vw;
    top: 50vh;

}

#nextCastle div {
    background: url(/img/game/buttons/next.png) center center no-repeat !important;
}

#previousCastle {
    left: 0.5vw;
    top: 50vh;
}

#previousCastle div {
    background: url(/img/game/buttons/previous.png) center center no-repeat !important;
}

#castleInfo {
    position: absolute;
    left: 50vw;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1vw;
}

#castleName {
    color: gold;
    text-transform: uppercase;
    margin-bottom: 1vw;
}

#castleDefense {
}

#castleIncome {
}
