* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "xenippa";
    src: url('/xenippa1.ttf') format("truetype");
}

@font-face {
    font-family: "cretino";
    src: url('/cretino.ttf') format("truetype");
}

@font-face {
    font-family: "alpine";
    src: url('/Alpine.ttf') format("truetype");
}

@font-face {
    font-family: "aeiou2U";
    src: url('/_aeiou2U.ttf') format("truetype");
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "xenippa", Verdana, Tahoma;
    letter-spacing: 2px;
    color: #878967;
    text-shadow: 1px 1px 0 #000;
}

#bg {
    width: 100%;
    height: 100%;
    background: #fff url('/img/login_bg.jpg') no-repeat fixed 0 0;
    overflow: auto;
}

#page {
    margin: 0 auto;
    width: 900px;
}

#content {
    clear: both;
}

hr {
    margin-bottom: 10px;
}

#versionNumber {
    padding-left: 5px;
    padding-top: 15px;
    color: #000;
    float: left;
    font-family: fantasy;
}

#menuTop {
    height: 21px;
    border-bottom: 1px solid #878967;
}

#menuTop p {
    color: white;
    float: left;
    line-height: 20px;
    padding-left: 10px;
}

.paginationControl a {
    color: yellow;
}

a:hover {
    text-decoration: none;
}

input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px 6px;
    box-shadow: 1px 1px 5px #000;
    text-align: center;
}

select {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 6px;
    box-shadow: 1px 1px 5px #000;
    background: #fff;
}

input[type="radio"], input[type="checkbox"] {
    box-shadow: none;
}

.button, #submit {
    padding: 0 32px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 27px;
    font-family: fantasy;
    font-size: 16px;
    color: #fff;
    text-shadow: none;
    background: #000;
    border: 2px solid grey;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 1px 1px 5px #000;
}

.button:hover, #submit:hover {
    background: #fff;
    color: #000;
}

.button#active {
    color: yellow;
}

.button#active:hover {
    color: #000;
}

.buttonOff {
    background: gray;
    border-color: darkgray;
    color: darkgray;
}

.block {
    display: block;
    width: 50px;
}

h1 {
    /*padding-top: 20px;*/
    line-height: 70px;
    color: red;
    text-align: right;
    /*background: url(/img/h1_bg.png);*/
}

#content #title {
    margin-top: 30px;
}

#title {
    margin: 0 auto;
    width: 760px;
    height: 192px;
    background: url('/img/logo_bg.png') 0px 15px no-repeat !important;
}

#title div {
    position: relative;
    width: 760px;
    height: 192px;
    text-shadow: 2px 1px 1px #000;
    background: url("/img/sword.png") no-repeat;
}

#title h1 {
    font-size: 60px;
    font-family: "Alpine", Verdana, Tahoma;
    color: red;
    position: absolute;
    top: 5px;
    left: 20px;
}

#title p {
    font-size: 20px;
    font-family: "Alpine", Verdana, Tahoma;
    position: absolute;
    top: 113px;
    left: 277px;
    color: #fff;
}

h2 {
    padding: 15px;
    /*margin-top: 15px;*/
    /*background: url(/img/h2_bg.png);*/
    /*border: 1px solid grey;*/
    /*border: 1px solid #000;*/
    /*border-bottom: none;*/
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 1px 1px #000;
    font-family: fantasy;
}

h3 {
    color: #aaa;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.font-black {
    text-shadow: 0px 0px 2px #fff;
}

div.table {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background: url("/img/game/message_bg.png")
}

table {
    border-spacing: 0px;
    width: 100%;
    font-size: 14px;
    border: 2px solid gray;
    border-radius: 5px;
}

tr:hover td {
    color: #fff;
}

tr:nth-child(odd) {
    background: url(/img/bg_1.jpg);
    color: #D7DAA4;
}

tr:nth-child(even) {
    background: url(/img/bg_0.jpg);
    /*color: #D7DAA4;*/
}

tr:last-of-type td {
    border-bottom: 1px solid #000;
}

th {
    text-align: center;
    padding: 4px;
    color: #fff;
    background: url("/img/game/message_bg.png");
    font-family: fantasy;
}

td {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    height: 20px;
    text-align: center;
    padding: 2px;
}

td:first-of-type {
    border-left: 1px solid #000;
}

#logout {
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    float: right;
    color: gray;
}

#logout:hover {
    color: yellow;
}

.errors {
    padding: 5px;
    color: orchid;
    text-shadow: 1px 1px 0 #000;
}

#content form {
    background: url('/img/bg_1.jpg');
    border-radius: 5px;
    border: 2px solid grey;
    padding: 10px;
    /*margin-bottom: 20px;*/
    text-align: center;
    box-shadow: 1px 1px 5px #000;
}

#content form label {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    font-family: fantasy;
}

dt {
    margin-top: 20px;
}

p#info {
    text-align: center;
}

.yellow {
    color: yellow;
}

.font-yellow {
    color: yellow;
}

.box_pagination {
    width: 530px;
    margin: 0 auto;
    text-align: center;
}

.trlink {
    cursor: pointer;
}

.box {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    background: url(/img/bg_1.jpg);
    box-shadow: 2px 2px 5px #000;
    font-family: fantasy;
}

