* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "alpine";
    src: url('/Alpine.ttf') format("truetype");
}

html {
    background: #000;
}

body {
    font-size: 18px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

#bg {
    width: 100%;
    height: 100%;
    background: #000 url('/img/login_bg.jpg') no-repeat fixed 0 0;
    overflow: auto;
}

#page {
    margin: 0 auto;
    width: 900px;
}

#content {
    clear: both;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: gray;
}

input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 21px 6px;
    box-shadow: 1px 1px 5px #000;
    text-align: center;
    background: #373737;
    color: white;
}

select {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 6px;
    box-shadow: 1px 1px 5px #000;
    background: #373737;
    color: white;
}

input[type="radio"], input[type="checkbox"] {
    box-shadow: none;
}

.button, #submit {
    padding: 32px;
    margin: 4px;
    border: 2px solid #fff;
    border-radius: 5px;
    display: inline-block;
}

.button:hover, #submit:hover {
    background: green;
    color: #fff;
}

.button.active {
    background: #fff;
    color: #000;
    cursor: default;
}

.button.active:hover {
    color: #000;
}

.buttonOff {
    background: gray;
    border-color: darkgray;
    color: darkgray;
}

.block {
    display: block;
    width: 50px;
}

h1 {
    line-height: 44px;
    color: grey;
    text-align: right;
}

#content #title {
    margin: 0 auto;
    width: 760px;
    height: 192px;
    background: url('/img/logo_bg.png') no-repeat;
}

#content #title div {
    position: relative;
    width: 760px;
    height: 192px;
    text-shadow: 2px 1px 1px #000;
    background: url("/img/sword.png") no-repeat;
}

#content #title h1 {
    font-size: 60px;
    font-family: "Alpine", Verdana, Tahoma;
    color: red;
    position: absolute;
    top: 5px;
    left: 20px;
}

#content #title p {
    font-size: 20px;
    font-family: "Alpine", Verdana, Tahoma;
    position: absolute;
    top: 113px;
    left: 277px;
    color: #fff;
}

h2 {
    padding: 7px 0 14px 0;
    color: #fff;
    letter-spacing: 3px;
    text-align: left;
    text-shadow: 2px 1px 1px #000;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.font-black {
    text-shadow: 0px 0px 2px #fff;
}

div.table {
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0 0 7px #000;
    background: url("/img/game/message_bg.png");
}

.table table {
    border-spacing: 0px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

tr:last-of-type td {
    border-bottom: 1px solid #000;
}

th {
    text-align: center;
    padding: 4px;
    color: #000;
    background: #fff;
    text-shadow: none;
}

.trlink td {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

#content td {
    height: 42px;
    text-align: center;
    padding: 2px;
}

.trlink td:first-of-type {
    border-left: 1px solid #000;
}

#versionNumber {
    padding-left: 5px;
    padding-top: 22px;
    color: grey;
    float: left;
    text-shadow: none;
    font-style: italic;
}

#menuTop {
    padding: 1px;
    background: #fff;
    box-shadow: 0 0 5px #000;
}

#menu {
    width: 900px;
    text-align: center;
    margin: 14px 0;
}

#logout {
    display: inline-block;
    float: right;
    font-weight: normal;
    padding: 21px;
    background: #000;
}

#logout:hover {
    text-decoration: none;
    color: #fff;
    background: red;
}

.errors {
    padding: 5px;
    color: orchid;
    text-shadow: 1px 1px 0 #000;
}

#content form {
    background: url('/img/bg_1.jpg');
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    /*box-shadow: 1px 1px 5px #000;*/
}

#content form label {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

#content form#search {
    background: none;
    border: none;
}

dt {
    margin-top: 20px;
}

p#info {
    text-align: center;
}

.yellow {
    color: yellow;
}

.font-yellow {
    color: yellow;
}

.box_pagination {
    width: 530px;
    margin: 0 auto;
    text-align: center;
}

.box {
    border: 2px solid grey;
    background: url(/img/bg_0.jpg);
    box-shadow: 2px 2px 5px #000;
}

.padding {
    padding: 0 0 5px 0;
}

#search .zend_form {
    text-align: left;
}

#search #search-label, #search #submit-label {
    display: none;
}

#search #search-element, #search #submit-element {
    display: inline-block;
}

.box #title {
    position: absolute;
    top: -21px;
    color: gold;
}

#searchResults a, #friendsList a {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

#searchResults a:hover, #friendsList a:hover {
    color: gray;
    text-decoration: none;
}

#playersingame .td1 {
    text-align: left;
}

#menuTop #title {
    display: inline-block;
    color: #000;
    font-weight: bold;
    padding: 21px;
    text-shadow: none;
}

#messages span {
    position: absolute;
    top: -3px;
    left: 24px;
    background: orange;
    color: #000;
    min-width: 10px;
    height: 10px;
    padding: 2px 2px 2px 4px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
    text-shadow: none;
    text-align: center;
}

#messages div {
    background: url(/img/game/buttons/messages.png) center center no-repeat !important;
}

tr.trlink {
    cursor: pointer;

}

tr.trlink td {
    text-decoration: underline;
}

tr.trlink:hover td {
    color: #fff;
    text-decoration: none;
    background: green;
}

#threads .trlink.read {
    background: lightslategrey;
}

#friendsList .online {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
    background: green;
    margin: 7px;
}

#friendsList span {
    line-height: 25px;
    padding: 0 5px 0 35px;
    border-radius: 2px;
    cursor: pointer;
}

#friendsList span:hover {
    background: #fff;
}

.i {
    font-style: italic;
}

td .trash {
    width: 15px;
    height: 20px;
    background-image: url('/img/trash.png');
    margin: 2px;
    cursor: pointer;
    display: inline-block;
}

.colorBox {
    width: 24px;
    height: 24px;
    box-shadow: 0 0 5px #fff;
    display: inline-block;
    margin: 5px;
}

#content .table .playerName {
    margin-top: 10px;
}

.table #text .title {
    padding: 5px;
    color: #A8A47D;
    font-weight: bold;
}

#findFriends {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}

#findFriends:hover {
    color: gray;
    text-decoration: none;
}

#main {
    width: 100%;
    height: 100%;
}

#helpMenu {
    margin-bottom: 14px;
    text-align: center;
}

.frame {
    border-radius: 5px;
    border: 2px solid grey;
    width: 60px;
    background: url(/img/bg_1.jpg);
    box-shadow: 2px 2px 5px #000;
}

.third {
    position: absolute;
    top: 80px;
    left: 360px
}

#helpMenu div.active {
    background: #fff;
    color: #000;
    cursor: default;
    text-shadow: none;
}

#graphics {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 5px;
}

#text #unit table {
    width: 583px;
    margin: 10px 0;
}

#text #unit h3 {
    margin: 10px 0;
    text-align: center;
}

#playersingame td {
    line-height: 26px;
    min-width: 100px;
    height: 62px;
}

#playersingame tr td div.left {
    width: 300px;
    overflow: hidden;
    padding: 5px;
}

#playersingame tr td div.right {
    text-shadow: none;
    min-width: 117px;
    margin-right: 1px;
    border-radius: 5px;
    padding: 5px;
}

#playersout td {
    line-height: 24px;
    padding: 2px;
    margin: 2px;
}

.selected {
    background: lightslategrey !important;
}

.selected td {
    color: #000;
    text-shadow: none;
}

.selected:hover td {
    color: #000;
}

.chat {
    text-align: right;
    padding-top: 5px;
}

.contact td:first-child {
    text-align: right;
}

.contact td:last-child {
    text-align: left;
}

#menuBox {
    margin-bottom: 14px;
}

#menuBox #menu .button {
    margin: 1px;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game {
    position: relative;
    left: 0;
    top: 0;
    background: url(/img/bg_0.jpg) #000;
    display: block;
    overflow: hidden;
    clear: both;
}

#game table, .message table {
    min-width: 0;
    border-spacing: 1px;
    border: none !important;
}

#game tr:hover {

}

#game td {
    height: auto;
}

#turn {
    width: 80px;
    position: absolute;
    top: 75px;
    left: 60px;
    z-index: 28000;
}

.message {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 9999;
    pointer-events: none
}

.message.tutorial {
    z-index: 10000;
}

.message.tutorial .content {
    max-width: 300px;
    background: url(/img/bg_0.jpg);
}

.message.tutorial .goal {
    padding-bottom: 14px;
    text-align: left;
    font-weight: bold;
}

.message.tutorial .description {
    text-align: justify;
}

.message .content {
    margin: 0 auto;
    display: inline-block;
    border: 1px solid green;
    border-radius: 0px !important;
    box-shadow: 0 0 20px #000;
    pointer-events: auto;
    color: #fff;
    background: url("/img/game/message_bg.png");
}

.message .content tr {
    background: none !important;
}

.message #buttons {
    width: auto;
    margin: 10px auto;
}

.message #buttons .button {
    width: auto;
    margin: 0 36px;
}

.message .msgTitle {
    text-align: center;
    border-bottom: 1px solid green;
}

.message .msgTitle h3 {
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    color: #000;
    border: none;
    background: #fff;
    text-shadow: none;
}

.message.error .msgTitle h3 {
    background: red;
}

.message h4 {
    color: #ddd;
    margin: 3px 3px 3px 4px;
    float: right;
}

.message h5 {
    text-align: left;
    margin: 2px 2px 2px 4px;
    color: #d6d6d6;
}

.message div.overflow {
    overflow: auto;
    padding: 14px;
}

.message div.showCastle #next {
    width: 90px;
}

.message div.showCastle #previous {
    width: 90px;
}

.message div.showCastle td {
    border: none;
}

.message div.showCastle tr {
    background: none;
}

.message div.production, .message div.relocatedProduction {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2px;
}

.message div.production div.title, .message div.relocatedProduction div.title {
    padding: 10px;
    background: #000;
}

.message .production .unit {
    border: 1px solid gray;
    display: table-cell;
}

.message .production td.unit.checked {
    border: 1px solid lime;
}

.message .production .unit div.buttons {
    display: inline-block;
}

.message .production .unit div.buttons .button {
    display: block;
}

.message .production .unit .name {
    text-shadow: none;
    background: #fff !important;
    color: #000 !important;
}

.message .production .unit.checked .name {
    background: lime !important;
}

.message .production .unit div.attributes {
    text-align: right;
    display: inline-block;
}

.message .production .unit div.attributes div {
    background: #000;
    margin: 1px;
    padding-left: 5px;
}

.message p.h input {
    margin: 5px 6px;
}

.message div.row {
    padding: 8px;
    border: 1px solid #222;
    border-radius: 3px;
}

.message div.row div.nr {
    display: inline-block;
}

.message .split {
    overflow: hidden;
    overflow-y: auto;
}

.message .split #selectAll {
    text-align: right;
    height: 20px;
}

.message .split div.row {
    cursor: pointer;
}

.message .split div.row:hover {
    background: lime;
}

.message .split div.row.selected {
    background: #fff;
    color: #000;
    text-shadow: none;
}

.message .status table {
    width: 100%;
}

.message .status td {
    padding: 5px;
    height: auto;
    text-align: right;
}

.message .status td.name {
    background: #fff;
    color: #000;
    text-align: center;
    text-shadow: none;
}

.message .status .attr, .message .status .value div {
    display: inline-block;
}

.message .status div.row {
    padding: 0;
}

.message .status .value {
    color: gold;
}

.message .status .plus {
    color: lime;
}

.center {
    text-align: center;
}

.split p {
    text-align: center;
    margin: 2px;
    background: #CECECE;
    padding: 1px;
}

#log {
    width: 150px;
    height: 29px;
}

#gold {
    text-shadow: none;
    position: absolute;
}

#gold #value {
    display: inline-block;
    color: gold;
}

#gold #description {
    display: inline-block;
}

.text-right {
    text-align: right;
}

#terrain {
    position: absolute;
    color: white;
    z-index: 900;
    left: 2px;
}

#game .box {
    position: fixed;
    z-index: 27000;
    border: 0px solid green;
    border-radius: 0px !important;
    box-shadow: 0 0 20px #000;
    padding: 2px;
}

.buttonColors {
    border: 1px solid #fff !important;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 5px #000;
}

.iconButton, .button, #submit {
    border-radius: 2px;
}

.iconButton div:not(.varchar) {
    width: 23px;
    height: 23px;
}

.iconButton div {
    padding: 32px;
}

.iconButton {
    margin: 7px;
    display: inline-block;
}

.buttonOff {
    border: 1px solid #444 !important;
    background: #000 !important;
    color: #444 !important;
    cursor: default !important;
}

.buttonOff:hover {
    border: 1px solid #444 !important;
    background: #000 !important;
    color: #444 !important;
    cursor: default !important;
}

.battleUnit {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.battleNumber {
    display: inline-block;
    width: 30px;
}

table.statistics tr {
    background: none;
}

table.statistics td {
    border: none;
    padding: 1px;
    height: 36px;
}

table.statistics th {
    background: none;
    border: none;
    padding: 5px;
    color: goldenrod;
}

table.statistics td.shortName {
    background: none;
}

.relocatedProduction table {
    padding: 2px;
    width: 100%;
}

.relocatedProduction td {
    line-height: 30px;
    /*background: #CECEb0;*/
    border: none;
}

table.treasury {
    margin: 0 auto;
    text-shadow: none;
    min-width: 300px !important;
}

table.treasury td {
    border: 1px solid gray;
    background: #000;
    /*color: #D7DAA4;*/
    border-radius: 0;
    padding: 5px;
    height: 23px;
}

table.treasury tr:first-of-type td:first-of-type {
    border-top-left-radius: 5px;
}

table.treasury tr:first-of-type td:last-of-type {
    border-top-right-radius: 5px;
}

table.treasury tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
}

table.treasury tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 5px;
}

table.treasury td.r {
    text-align: right;
}

table.treasury td.c {
    text-align: center;
}

#vs {
    margin-top: 10px;
}

.production tr {
    background: none !important;
}

.showCastle tr td:not(.button .iconButton) {
    border: none !important;
}

.statistics tr:first-of-type {
    background: none;
}

#battle {
    display: none;
}

#battleAttack {
    width: 27px;
    height: 27px;
}

#battleDefence {
    width: 27px;
    height: 27px;
}

.font-gold {
    color: gold;
}

.font-red {
    color: red;
}

table.treasury td {
    height: 28px !important;
}

/* ----------------- */
#armyButtons, #menuButtons {
    border: none;
    border-radius: 0px;
    background: none;
    position: absolute;
}

#armyButtons {
    right: 0;
    bottom: 0;
}

#menuButtons {
    right: 0;
    top: 0;
}

#nextTurn {
    box-shadow: 0 0 5px #000;
}

#nextTurn div {
    background: url(/img/game/buttons/nextTurn.png) center center no-repeat !important;
}

#nextTurn:hover {
    color: #000 !important;
    background: red !important;
}

#nextTurn.buttonOff div {
    background: url(/img/game/buttons/nextTurn_off.png) center center no-repeat !important;
}

#showMenu {
    box-shadow: 0 0 5px #000;
}

#showMenu div {
    background: url(/img/game/buttons/showMenu.png) center center no-repeat !important;
}

#nextArmy {
    box-shadow: 0 0 5px #000;
}

#nextArmy div {
    background: url(/img/game/buttons/search.png) center center no-repeat !important;
}

#armyStatus {
    box-shadow: 0 0 5px #000;
}

#armyStatus div {
    background: url(/img/game/buttons/status.png) center center no-repeat !important;
}

#armyStatus.buttonOff div {
    background: url(/img/game/buttons/status_off.png) center center no-repeat !important;
}

/* ----------------- */

#disbandArmy div {
    background: url(/img/game/buttons/delete.png) center center no-repeat !important;
}

#disbandArmy.buttonOff div {
    background: url(/img/game/buttons/delete_off.png) center center no-repeat !important;
}

#quitArmy div {
    background: url(/img/game/buttons/stop.png) center center no-repeat !important;
}

#quitArmy.buttonOff div {
    background: url(/img/game/buttons/stop_off.png) center center no-repeat !important;
}

#skipArmy div {
    background: url(/img/game/buttons/pause.png) center center no-repeat !important;
}

#skipArmy.buttonOff div {
    background: url(/img/game/buttons/pause_off.png) center center no-repeat !important;
}

#splitArmy div {
    background: url(/img/game/buttons/split.png) center center no-repeat !important;
}

#splitArmy.buttonOff div {
    background: url(/img/game/buttons/split_off.png) center center no-repeat !important;
}

#deselectArmy div {
    background: url(/img/game/buttons/deselect.png) center center no-repeat !important;
}

#deselectArmy.buttonOff div {
    background: url(/img/game/buttons/deselect_off.png) center center no-repeat !important;
}

#showCastle div {
    background: url(/img/game/buttons/castle.png) center center no-repeat !important;
}

#showCastle.buttonOff div {
    background: url(/img/game/buttons/castle_off.png) center center no-repeat !important;
}

#razeCastle div {
    background: url(/img/game/buttons/raze.png) center center no-repeat !important;
}

#razeCastle.buttonOff div {
    background: url(/img/game/buttons/raze_off.png) center center no-repeat !important;
}

#searchRuins div {
    background: url(/img/game/buttons/ruins.png) center center no-repeat !important;
}

#searchRuins.buttonOff div {
    background: url(/img/game/buttons/ruins_off.png) center center no-repeat !important;
}

#buildCastleDefense div {
    background: url(/img/game/buttons/build.png) center center no-repeat !important;
}

#buildCastleDefense.buttonOff div {
    background: url(/img/game/buttons/build_off.png) center center no-repeat !important;
}

/* -------------------------------------------------------------*/
#exit div {
    background: url(/img/game/buttons/exit.png) center center no-repeat !important;
}

#surrender div {
    background: url(/img/game/buttons/surrender.png) center center no-repeat !important;
}

#statistics div {
    background: url(/img/game/buttons/statistics.png) center center no-repeat !important;
}

#show div {
    background: url(/img/game/buttons/show.png) center center no-repeat !important;
}

#show .buttonOff div {
    background: url(/img/game/buttons/show_off.png) center center no-repeat !important;
}

#sound div {
    background: url(/img/game/buttons/sound_on.png) center center no-repeat !important;
}

#sound .buttonOff div {
    background: url(/img/game/buttons/sound_off.png) center center no-repeat !important;
}

#fullScreen div {
    background: url(/img/game/buttons/fullscreen.png) center center no-repeat !important;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 50px;
    z-index: 99999;
    margin: 21px;
}

#gameMenu .row {
    margin: 14px;
}

#gameMenu .row div {
    display: inline-block;
}

#gameMenu .row div.description {
    padding-left: 14px;
}

#game h3 {
    color: #fff;
}

#gameMenu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    display: none;
    text-align: right;
}

#gameMenu #close {
    text-shadow: none;
    margin: 14px;
}

#game #tutorial {
    position: absolute;
    cursor: pointer;
    bottom: 2px;
    left: 2px;
}

.showCastle .relocatingTo {
    color: lime;
    padding: 29px 0;
}

#back {
    margin: 21px;
}

#create {
    float: left;
    margin: 21px;
}
