#new {
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px #000;
}

#new #img {
    width: 520px;
}

#new canvas {
    box-shadow: 0 0 5px #000;
}

#new form {
    border: none;
    background: none;
    margin: 5px;
    padding: 5px;
    box-shadow: none;
}

#new #form {
    width: 260px;
}

#new input[type="text"] {
    width: 20px;
}

#join {
    /*margin-top: 1px;*/
}

#numberOfPlayers-label {
    display: none;
}

.bigLink {
    text-align: center;
    font-size: 30px;
    margin: 9px 30px 30px 30px;
    cursor: pointer;
}

.bigLink a {
    background: green;
    text-decoration: none;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
}

.bigLink a:hover {
    color: red;
    background: white;
}