#playersingame td {
    line-height: 26px;
    min-width: 100px;
    height: 62px;
}

#playersingame tr td div.left {
    width: 300px;
    overflow: hidden;
    padding: 5px;
}

#playersingame tr td div.right {
    text-shadow: none;
    min-width: 117px;
    margin-right: 1px;
    border-radius: 5px;
    padding: 5px;
}

#playersout td {
    line-height: 24px;
    padding: 2px;
    margin: 2px;
}

.selected {
    background: lightslategrey !important;
}

.selected td {
    color: #000;
    text-shadow: none;
}

.selected:hover td {
    color: #000;
}

.selected .td1 span {
    /*background: gray;*/
    padding: 5px;
    text-shadow: 0 0 2px #000;
}

.td4 img {
    margin: 0 10px;
}
